<nav id="navigation" class="navigation-container">

    <div class="button-searching-container">
        <button class="button" (click)="buttonOnClick()"><h4>.</h4></button>
        <input class="searching" type="text" id="searching" name="searching" placeholder="ohne Funktion...">
    </div>

    <div class="logo-container">
        <h4 class="logo">Logo</h4>
    </div>

    <div class="header-menu-container">
        <ul class="menu-list">
            <li class="list-item"><a [routerLink]="'/'" routerLinkActive="active">Abmelden</a></li>
            <!-- <li class="list-item"><a [routerLink]="'/page1'" routerLinkActive="active">Page 1</a></li>
            <li class="list-item"><a [routerLink]="'/page2'" routerLinkActive="active">Page 2</a></li> -->
        
            
        
        </ul>
    </div>
</nav>