.container {
    background-color: lime;
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
        background-color: orange;
    }

    .content {
        background-color: red;
        flex-shrink: 1;
    }

    .footer {
        background-color: green;
    }

}