button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    background-color: rgb(16, 87, 16);
}

testClass {
    background-color: red;
}

testClass2 {
    background-color: lime;
}
